@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #cccccc;
}

h1 {
    font-family: 'impact';
    font-size: 60px;
}

.container {
    justify-content: center;
} 

.options-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 auto;
}

.option {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    border-radius: 1%;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.option {
    background-color: #8cbaeb;
    border: 2px solid #6896be;
    border-radius: 10px;
    transition: all ease 0.25s;
    color: #3a3e41;
}

.option:hover {
    background-color: #6896be;
}

.button {
    font-family: 'impact';
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    font-size: 35px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    transition: all ease 0.25s;
    color: #3a3e41;
}

.button:hover {
    background-color: #e5e5e5;
}

#add-poll {
	display: block;
    width: 60px;
    height: 60px;
    font-size: 50px;
    padding: 0px;
    margin-right: 20px;
}

#return-to-polls {
	display: block;
    width: 150px;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
}

#question-input {
    font-family: 'impact';
    font-size: 60px;
    background: none;
    text-align: center;
    border: none;

    margin-bottom: 30px;
}

#create-a-poll {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #555555;
    background-color: #aaaaaa;
    padding: 75px;
    margin-top: 10px;
}